<h1><%= @food.name %></h1>

<ul>
  <li><strong>Name:</strong> <%= @food.name %></li>
  <li><strong>Recommended level:</strong> <%= @food.recommended_level %>/5</li>
  <li><strong>Description:</strong> <%= @food.description %></li>
  <li><strong>How to make</strong> <%= link_to @food.name, @food.recipe_link %> <strong>at home?</strong></li>
  <li><strong>Best <%= @food.name %> in Lima:</strong>
    <% @food.restaurants.each do |restaurant| %>
      <%= link_to restaurant.name, restaurant %>
    <% end %></li>
</ul>

<%= image_tag @food.image, :class => 'feature' if @food.image.present? %>

<div class="control">
  <% if @current_user.present? %>
    <% if @current_user.favorites.map(&:food_id).include?(@food.id) %>
      <%= button_to 'Remove favorite', favorite_food_path(@food), :method => 'delete' %>
    <% else %>
      <%= button_to 'Add to favorite', favorite_food_path(@food) %>
    <% end %>

    <% if @current_user.admin? %>
      <%= link_to 'Edit food', edit_food_path(@food) %>
      <%= link_to 'Delete food', @food, :method => 'delete' %>
    <% end %>
  <% end %>
</div>
