<h2><%= @restaurant.name %></h2>

<p><%= image_tag @restaurant.image, :class => 'feature img-xl ', :style => "width: 100%" if @restaurant.image.present? %></p>
<p class="text-justify"><strong>Description: </strong> <%= @restaurant.description %></p>
<p class="text-justify"><strong>Price range: </strong> <%= @restaurant.price_range %></p>
<p class="text-justify"><strong>Recommended level:</strong> <%= @restaurant.recommended_level %>/5</p>
<p class="text-justify"><strong>Location: </strong> <%= @restaurant.location %></p>
<p class="text-justify"><strong>Website: </strong> <%= link_to @restaurant.website_link, @restaurant.website_link, :target => "_blank" %></p>
<p class="text-justify"><strong>Recommended foods/drinks: </strong><%== @restaurant.foods.map {|food| link_to food.name, food }.join(", ") %></p>

<div class="control">
  <% if @current_user.present? %>
    <% if @current_user.favorites.map(&:restaurant_id).include?(@restaurant.id) %>
      <%= button_to 'Remove favorite', favorite_restaurant_path(@restaurant), :class => 'btn btn-danger', :method => 'delete' %>
    <% else %>
      <%= button_to 'Add to favorite', favorite_restaurant_path(@restaurant), :class => 'btn btn-success' %>
    <% end %>
    <% if @current_user.admin? %>
      <%= link_to 'Edit restaurant', edit_restaurant_path(@restaurant) %>
      <%= link_to 'Delete restaurant', @restaurant, :method => 'delete' %>
    <% end %>
  <% end %>
</div>
