<h1><%= @restaurant.name %></h1>

<ul>
  <li><strong>Price range:</strong> <%= @restaurant.price_range %></li>
  <li><strong>Recommended level:</strong> <%= @restaurant.recommended_level %>/5</li>
  <li><strong>Description:</strong> <%= @restaurant.description %></li>
  <li><strong>Location:</strong> <%= @restaurant.location %></li>
  <li><strong>Website:</strong> <%= link_to @restaurant.website_link, @restaurant.website_link, :target => "_blank" %></li>

  <li><strong>Recommended foods/drinks:</strong>
    <%== @restaurant.foods.map {|food| link_to food.name, food }.join(", ") %></li>
</ul>

  <%= image_tag @restaurant.image, :class => 'feature' if @restaurant.image.present? %>

  <div class="control">
    <% if @current_user.present? %>
      <% if @current_user.favorites.map(&:restaurant_id).include?(@restaurant.id) %>
        <%= button_to 'Remove favorite', favorite_restaurant_path(@restaurant), :method => 'delete' %>
      <% else %>
        <%= button_to 'Add to favorite', favorite_restaurant_path(@restaurant) %>
      <% end %>
      <% if @current_user.admin? %>
        <%= link_to 'Edit restaurant', edit_restaurant_path(@restaurant) %>
        <%= link_to 'Delete restaurant', @restaurant, :method => 'delete' %>
      <% end %>
    <% end %>


  </div>
