<%= form_for @region do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :required => true, :autofocus => true, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :background, 'Overview' %>
    <%= f.text_field :background, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :things_to_do, 'Things to do' %>
    <%= f.text_field :things_to_do, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.url_field :image, :class => "form-control", :placeholder => "http://..." %>
  </div>
    <%= f.submit "Add Region" %>
<% end %>
